public/data/node_files/*.csv filter=lfs diff=lfs merge=lfs -text
public/data/final_edges.json filter=lfs diff=lfs merge=lfs -text
public/data/edgelist_updated_scaled.csv filter=lfs diff=lfs merge=lfs -text
public/data/node_attributes.csv filter=lfs diff=lfs merge=lfs -text
public/data/full_dataset_eur.csv filter=lfs diff=lfs merge=lfs -text
public/data/full_dataset_amr.csv filter=lfs diff=lfs merge=lfs -text
